<template>
  <div class="createSession">
    <main>
        <div class="no-print selectLang mb-3">
            <span v-if="config.lang === 'pl'" class="no-print font-weight-bold">Wybierz język: </span>
            <span v-if="config.lang === 'ang'" class="no-print font-weight-bold">Select language: </span>
            <select class="no-print" v-model="config.lang" @change="changeLang()">
                <option>pl</option>
                <option>ang</option>
            </select>
        </div>
        <div class="company text-center">
            <h4 v-if="config.lang === 'pl'">www.konspektypilkanozna.pl</h4>
            <h4 v-if="config.lang === 'ang'">soccer-sessions.com</h4>
        </div>
        <div class="wrapperName">
            <div class="d-flex">
                <div v-if="countPart > 1">
                    <h3 v-if="config.lang === 'pl'">KONSPEKT:</h3>
                    <h3 v-if="config.lang === 'ang'">OUTLINE:</h3>
                </div>
                <div v-else>
                    <h3 v-if="config.lang === 'pl'">ĆWICZENIE:</h3>
                    <h3 v-if="config.lang === 'ang'">EXERCISE:</h3>
                </div>
                <span class="print">{{session.name}}</span><input class="no-print" v-model="session.name" placeholder="Nazwa ćwiczenia">
            </div>    
        </div>
        <div class="wrapperSubject">
            <div class="d-flex">
                <p v-if="config.lang === 'pl'">KATEGORIA: </p>
                <p v-if="config.lang === 'ang'">CATEGORY: </p>
                <span class="print">{{session.category}}</span><input class="no-print" v-model="session.category" placeholder="Kategoria">
            </div>
            <div class="d-flex">
                <p v-if="config.lang === 'pl'">TEMAT: </p>
                <p v-if="config.lang === 'ang'">SUBJECT: </p>
                <span class="print">{{session.subject}}</span><input class="no-print" v-model="session.subject" placeholder="Temat konspektu">
            </div>
            <div class="d-flex">
                <p v-if="config.lang === 'pl'">CEL: </p>
                <p v-if="config.lang === 'ang'">OBJECTIVES: </p>
                <span class="print">{{session.objective}}</span><input class="no-print" v-model="session.objective" placeholder="Cel konspektu">
            </div>
        </div>
        <div class="wrapperExercise">
            <div class="no-print">
                <p class="no-print mb-0 font-weight-bold">Wybierz części treningu w konspekcie:</p>
                <div class="no-print selectPart">
                    <input type="checkbox" id="part_introduction" class="no-print" v-model="config.introduction">
                    <label class="no-print" for="part_introduction">
                        <span v-if="config.lang === 'pl'">CZĘŚĆ WSTĘPNA</span>    
                        <span v-if="config.lang === 'ang'">INTRODUCTORY PART</span>    
                    </label>
                    <input type="checkbox" id="part_main_I"  class="no-print" v-model="config.main1">
                    <label class="no-print" for="part_main_I">
                        <span v-if="config.lang === 'pl'">CZĘŚĆ GŁÓWNA I</span>    
                        <span v-if="config.lang === 'ang'">MAIN PART I</span> 
                    </label>
                    <input type="checkbox" id="part_main_II" class="no-print" v-model="config.main2">
                    <label class="no-print" for="part_main_II">
                        <span v-if="config.lang === 'pl'">CZĘŚĆ GŁÓWNA II</span>    
                        <span v-if="config.lang === 'ang'">MAIN PART II</span> 
                    </label>
                </div>
            </div>
            <aside v-if="config.introduction" class="wrapperIntroduction">
                <input class="no-print" type="text" v-model="config.introductionName" placeholder="Nazwa części">
                <h5 class="print" :class="config.lang">{{config.introductionName}}</h5>
                    <div v-for="(exercise, index) in session.introduction" :key="exercise.id" class="row">
                        <div class="col-6">
                            <p class="print bold">{{exercise.topic}}</p>
                            <input class="no-print" v-model="exercise.topic" type="text" placeholder="Tytuł ćwiczenia z części wstępnej"/>
                            <p class="print text">{{exercise.description}}</p>
                            <textarea class="no-print" rows="7" v-model="exercise.description" placeholder="Opis ćwiczenia z części wstępnej"></textarea>
                            <div>
                                <p v-if="exercise.mod" class="bold mod">Modyfikacje:</p>
                                <p class="print text">{{exercise.mod}}</p>
                                <textarea class="no-print" rows="7" v-model="exercise.mod" placeholder="Opis ćwiczenia z modyfikacji części wstępnej"></textarea>
                            </div>
                        </div>
                        <div class="col-1">
                            <button class="no-print btn btn-danger btn-sm" @click="removeExercise(index, 'introduction')">X</button>
                        </div>
                        <div class="col-5 d-flex justify-content-end">
                            <input type="file" class="no-print" @change="previewImage" @click="setActualPart(index, 'introduction')" accept="image/*">
                            <div v-if="exercise.img">
                                <img :src="exercise.img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button class="no-print btn btn-success" @click="addExercise('introduction')">+</button>
                    </div>
            </aside>
            <br>
            <aside v-if="config.main1" class="wrapperMain1">
            <input class="no-print" type="text" v-model="config.main1Name" placeholder="Nazwa części">
            <h5 class="print" :class="config.lang">{{config.main1Name}}</h5>
                <div v-for="(exercise, index) in session.main1" :key="exercise.id" class="row">
                    <div class="col-6">
                        <p class="print bold">{{exercise.topic}}</p>
                        <input class="no-print" v-model="exercise.topic" type="text" placeholder="Tytuł ćwiczenia z części głównej I"/>
                        <p class="print text">{{exercise.description}}</p>
                        <textarea class="no-print" rows="7" v-model="exercise.description" placeholder="Opis ćwiczenia z części głównej I"></textarea>
                        <div>
                            <p v-if="exercise.mod" class="bold mod">Modyfikacje:</p>
                            <p class="print text">{{exercise.mod}}</p>
                            <textarea class="no-print" rows="7" v-model="exercise.mod" placeholder="Opis ćwiczenia z modyfikacji części głównej I"></textarea>
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="no-print btn btn-danger btn-sm" @click="removeExercise(index, 'main1')">X</button>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <input type="file" class="no-print" @change="previewImage" @click="setActualPart(index, 'main1')" accept="image/*">
                        <div v-if="exercise.img">
                            <img :src="exercise.img" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="no-print btn btn-success" @click="addExercise('main1')">+</button>
                </div>
        </aside>
        <br>
        <aside v-if="config.main2" class="wrapperMain2">
            <input class="no-print" type="text" v-model="config.main2Name" placeholder="Nazwa części">
            <h5 class="print" :class="config.lang">{{config.main2Name}}</h5>
                <div v-for="(exercise, index) in session.main2" :key="exercise.id" class="row">
                    <div class="col-6">
                        <p class="print bold">{{exercise.topic}}</p>
                        <input class="no-print" v-model="exercise.topic" type="text" placeholder="Tytuł ćwiczenia z części głównej II"/>
                        <p class="print text">{{exercise.description}}</p>
                        <textarea class="no-print" rows="7" v-model="exercise.description" placeholder="Opis ćwiczenia z części głównej II"></textarea>
                        <div>
                            <p v-if="exercise.mod" class="bold mod">Modyfikacje:</p>
                            <p class="print text">{{exercise.mod}}</p>
                            <textarea class="no-print" rows="7" v-model="exercise.mod" placeholder="Opis ćwiczenia z modyfikacji części głównej II"></textarea>
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="no-print btn btn-danger btn-sm" @click="removeExercise(index, 'main2')">X</button>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <input type="file" class="no-print" @change="previewImage" @click="setActualPart(index, 'main2')" accept="image/*">
                        <div v-if="exercise.img">
                            <img :src="exercise.img" alt="">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="no-print btn btn-success" @click="addExercise('main2')">+</button>
                </div>
        </aside>
            
        </div>
        <div class="wrapperRemarks">
            <div v-if="session.remarks !== ''">
                <p v-if="config.lang === 'pl'" class="bold">Uwagi jakościowe:</p>
                <p v-if="config.lang === 'ang'" class="bold">Qualitative remarks:</p>
                <p class="print text">{{session.remarks}}</p>
            </div>
            <textarea class="no-print" rows="3" v-model="session.remarks"></textarea>
        </div>
        <div class="d-flex justify-content-center mt-2">
            <button class="w-100 no-print btn btn-success" @click="printPDF">Print PDF</button>
        </div>
    </main>
    </div>
</template>

<script>
import moment from 'moment';
import draggable from 'vuedraggable';
import 'bootstrap';

export default {
  name: 'CreateSession',
  components: {
      draggable
  }, 
  data () {
    return {
      dragging: false,
      actualPart: {
          index: null,
          part: ''
      },
      config: {
        lang: 'pl',
        introduction: true,
        main1: true,
        main2: true,
        introductionName: 'CZĘŚĆ WSTĘPNA',
        main1Name: 'CZĘŚĆ GŁÓWNA I',
        main2Name: 'CZĘŚĆ GŁÓWNA II',
      },
      session: {
          name: '',
          category: '',
          subject: '',
          objective: '',
          remarks: '',
          introduction: [
              {
                topic: '',
                description: '',
                img: '',
                mod: '',
              }
          ],
          main1: [
              {
                topic: '',
                description: '',
                img: '',
                mod: '',
              }
          ],
          main2: [
              {
                topic: '',
                description: '',
                img: '',
                mod: '',
              }
          ],
      }
    }
  },
  mounted() {
    
  },
  computed: {
      countPart() {
          return Object.values(this.config).filter(elem => elem === true).length
      }
  },
  methods: {
      previewImage(event) {
        var input = event.target;
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = (e) => {
                if (this.actualPart.part === 'introduction') {
                    this.session.introduction[this.actualPart.index].img = e.target.result;
                }
                if (this.actualPart.part === 'main1') {
                    this.session.main1[this.actualPart.index].img = e.target.result;
                }
                if (this.actualPart.part === 'main2') {
                    this.session.main2[this.actualPart.index].img = e.target.result;
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    },
      printPDF() {
        document.title = ``;
        window.print();
      },
      removeExercise(index, type) {
          if (type === 'introduction') {
            this.session.introduction.splice(index, 1);
          }
          if (type === 'main1') {
            this.session.main1.splice(index, 1);
          }
          if (type === 'main2') {
            this.session.main2.splice(index, 1);
          } 
      },
      addExercise(type) {
          const exercise = {
                topic: '',
                description: '',
                img: '',
                mod: '',
          }
          if (type === 'introduction') {
            this.session.introduction.push(exercise);
          }
          if (type === 'main1') {
            this.session.main1.push(exercise);
          }
          if (type === 'main2') {
            this.session.main2.push(exercise);
          }
      },
      setActualPart(index, part) {
          this.actualPart.index = index;
          this.actualPart.part = part;
      },
      changeLang() {
          console.log(this.config.lang);
          if (this.config.lang === 'pl') {
            this.config.introductionName = 'CZĘŚĆ WSTĘPNA';
            this.config.main1Name = 'CZĘŚĆ GŁÓWNA I';
            this.config.main2Name = 'CZĘŚĆ GŁÓWNA II';
          }
          if (this.config.lang === 'ang') {
            this.config.introductionName = 'INTRODUCTORY PART';
            this.config.main1Name = 'MAIN PART I';
            this.config.main2Name = 'MAIN PART II';
          }
      }
  }
}
</script>

<style lang="scss" scoped>
    *{ color-adjust: exact; -webkit-print-color-adjust: exact; print-color-adjust: exact; }
    .createSession {
        font-family: 'Lato', sans-serif;
        main {
            padding: 60px;
            .print {
                display: none;
            }
            .no-print {
                display: block;
            }
            div.no-print {
                display: block;
            }
            .wrapperName {
                padding: 0px 20px;
                h3 {
                    line-height: 28px;
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 0px;
                    margin-right: 5px;
                }
                input {
                    width: 100%;
                }
                margin-bottom: 15px;
            }

            .wrapperSubject {
                background: #1A1A1A;
                color: white;
                padding: 20px;
                border-radius: 3px;
                div {
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }
                p {
                    font-size: 22px;
                    line-height: 22px;
                    font-weight: 700;
                    margin-bottom: 0px;
                    margin-right: 5px;
                }
                span {
                    width: 100%;
                }
            }
            aside.wrapperIntroduction {
                h5.ang {
                    top: 245px;
                }
                h5.pl {
                    top: 195px;
                }
                border-left: 42px solid #606665;
            }
            aside.wrapperMain1 {
                h5.ang {
                    top: 145px;
                }
                h5.pl {
                    top: 195px;
                }
                border-left: 42px solid #2D2D2D;
            }
            aside.wrapperMain2 {
                h5.ang {
                    top: 155px;
                }
                h5.pl {
                    top: 205px;
                }
                border-left: 42px solid #171717;
            }
            .wrapperExercise {
                .row {
                    margin-bottom: 20px;
                }
                .row:last-child {
                    margin-bottom: 0px;
                }
                margin-top: 10px;
                .block {
                    width: 30px;
                    background: red;
                    span {
                        transform-origin: 0 0;
                        transform: rotate(90deg)
                    }
                }
                aside {
                    position: relative;
                    padding-left: 10px;
                    img {
                        width: 400px;
                        border: 2px solid #1A1A1A;
                    }
                    p {
                        margin-bottom: 0px;
                    }
                    p.mod {
                        margin-top: 10px;
                    }
                    h5 {
                        font-size: 18px;
                        font-weight: 700;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color: #fff;
                        padding: 5px 10px;
                        margin: 0 0 10px 0;
                        line-height: 24px;
                        position: absolute;
                        left: -38px;
                        margin-bottom: 0px;
                        background: none;
                        transform-origin: 0 0;
                        transform: rotate(-90deg);
                    }
                }
            }
            .wrapperRemarks {
                margin-top: 10px;
            }

            input, textarea {
                width: 100%;
            }
            textarea {
                resize: none;
            }
            p.bold {
                margin-bottom: 0px;
                font-size: 17px;
                font-weight: 700;
            }
            .selectPart {
                input {
                    width: auto !important;
                    display: initial;
                }
                label {
                    display: initial;
                }
            }
            .selectLang {
                span, select {
                    display: initial;
                }
            }
            @media print {
                .main {
                    padding: 0px;
                }
                .print {
                    display: block;
                }
                .no-print {
                    display: none !important;
                }
                input, textarea {
                    border: none;
                    background: none;
                }   
                .wrapperName {
                    span {
                        line-height: 28px;
                        font-size: 28px;
                        font-weight: 700;
                    }
                }   
                .wrapperSubject {
                    span {
                        color: white;
                        font-size: 22px;
                        line-height: 22px;
                        font-weight: 400;
                    }
                }
                p.text {
                    font-size: 17px;
                    color: black;
                    font-weight: 300;
                    margin-bottom: 0px;
                }
                p.bold {
                    margin-bottom: 0px;
                    font-size: 17px;
                    font-weight: 700;
                }
                p {
                    word-wrap:break-word;
                }
            }
        }
    }
</style>
